.article {
	max-width: 760px;
	margin: 0 auto;
}

.title {
	font-family: 'DM Serif Display', serif;
	font-size: 72px;
	line-height: 1.2;
	margin: 0 0 38px 0;
}

.content {

	& p {
		color: #979797;
		font-size: 18px;
		line-height: 1.5;
	}

	& p:first-child {
		font-size: 24px;
	}
}

.list {
	border-top: 2px solid #000;
	border-bottom: 2px solid #000;
	display: flex;
	justify-content: space-between;
	list-style: none;
	padding: 18px 0;
}

.item {
	color: #979797;
	font-size: 12px;
}

.breadcrumbs {
	color: #979797;
	display: flex;
	font-size: 14px;
	list-style: none;
	padding: 0;
}

.breadcrumbs a {
	color: #000;
	text-decoration: none;
}

.breadcrumbs > * + * {

	&::before {
		content: '>';
		margin: 0 10px;
	}
}

.social {
	display: flex;
	list-style: none;

	& > * + * {

		&::before {
			content: '|';
			margin: 0 10px;
		}
	}
}
