.list {
	display: flex;
	list-style: none;
	margin: 0.875rem 0 0 0;
	padding: 0;
}

.list > * + * {
	margin-left: 1em;
}

.link {
	color: #777;
	font-size: 0.875rem;
	text-decoration: none;
	transition: color 0.2s ease;

	&:hover,
	&:focus {
		color: var(--color-black);
		outline: 0;
	}
}

.active {
	color: var(--color-black);
}
